"fileTypes": [
    'feature'
]
"name": 'Gherkin'
"patterns": [
    {
        "match": '\\s*(Scenario\\:|Feature\\:|Scenario Outline\\:|Background\\:|Examples\\:|Examples\\:|Funcionalidade\\:|Característica\\:|Caracteristica\\:|Cenário\\:|Cenario\\:|Esquema do Cenário\\:|Esquema do Cenario\\:|Delineação do Cenário\\:|Delineacao do Cenario\\:|Exemplos\\:|Cenários\\:|Cenarios\\:|Contexto\\:|Cenário de Fundo\\:|Cenario de Fundo\\:|Fundo\\:)'
        "name": 'keyword.gherkin'
    }
    {
        "match": '\\s*(Given|Then|When|And|But|Mas|E |Então|Entao|Quando|Dado|Dada|Dados|Dadas)'
        "name": 'support.class.gherkin'
    }
    {
        "match": '(?<=\\s|^)(@[A-Za-z0-9_\\-]+)'
        "name": 'entity.name.function.decorator.gherkin'
    }
    {
        "match": '#(.*)$'
        "name": 'comment.line.gherkin'
    }
    {
        "match": '(\\<\\w+\\>)'
        "name": 'constant.character.escape.feature'
    }
    {
        "match": "(\\'.*?[^\\']\\')"
        "name": 'string.single.qoute.gherkin'
    }
    {
        "match": '(\\".*?[^\\"]\\")'
        "name": 'string.double.qoute.gherkin'
    }
    {
        "match": '(\\[[^]]*\\])'
        "name": 'constant.numeric.gherkin'
    }
    {
        "match": '\\|\\s(.*)\\s\\|'
        "name": 'constant.character.escape.feature'
    }
]
'scopeName': 'source.feature'
